{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Admin Changepassword{% endblock%}
{% block body %}
    <center>
    <h3>Admin Change Password</h3>
    <div class="container">
        {{msg}}
        <form role="form" name="frm" action="{%url 'admin_change_password'%}" method="post">

            <div class="form-group">
                <label for="opasswd">Old</label>
                <input type="password" name="opasswd" id="opasswd" class="form-control">
            </div>
            <div class="form-group">
                <label for="npasswd">New</label>
                <input type="password" name="npasswd" id="npasswd" class="form-control">
            </div>
            <button type="submit" class="btn btn-info" id="bt1" name="bt1">Update</button>
            <button type="reset" class="btn btn-info" id="bt2" name="bt2">Reset</button>
            {% csrf_token %}
        </form>
    </div>
</center>
{% endblock %}